html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.boxes1{
    font-size: 1em;
}
#boxes2 {
    border: 2px solid darkcyan;
    
    display: grid;
    /*grid-template-columns: 300px;
    grid-template-rows: 200px;*/
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.first {
    color: green;
    font-size: bold;
    background-color: green;
    border-bottom: 1px; dotted 
}

.box2 {
    font-size: 1em;
}

.second {
    color: white;
    font-size: 1.2rem;
    background-color: violet;
    border-bottom: 1px; dotted dark
}