h1 {
    background-color: yellow;
    text-align: center;
    text-transform: uppercase;
}

.album {
    background-image: url("images/talking_heads-speaking_in_tongues.png");
}
.album h1 {
    color: yellow;
}

h2 {
    background-color: yellow;
}
nav {
    position: relative;
    background-color: tomato;
}
aside {

}