.footer{
    background-color: darkblue;
}
.verse {
    background-color: lawngreen;
    text-align: center;
}
.aboutsong {
    background-color: lightgreen;
    display: flex;
    text-align: center;
}
/*class bottomtwo is the grid and also parent div for class aboutsong & verse divs*/
.bottomtwo-grid-container{
    display: grid;
    grid-template-columns: 60% 40%;
    margin: auto;
}

.text{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: maroon;
    text-align: left;
    padding: 100px;
}
img{
    width: 30%;
    height: 40%;
}
/*class twocolum is the grid and also parent div for class image & text divs*/
.twocolum-grid-container {
    display: grid;
    grid-template-columns: 60% 40%;
    border: 10px solid #73AD21;
    /*max-width: 400%;
    margin: auto;*/
}
.main_image{
    background-image: url("images/talking_heads-speaking_in_tongues.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:250px;
}
.main_overlay{
    background: black;
    position:absolute;
    top:200px;
    left:80px;
    opacity: 0.8;
    width:80%;
}
nav ul{
    list-style: none;
}
nav li{
    display: inline-block;
    text-align: center;
    justify-content: center;
}
/*
nav li a{
    font-family: Arial, Helvetica, sans-serif;
    color: ;
    text-decoration: none;
    text-align: center;
}
*/
nav{
    background-color: rgb(78, 78, 78);
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    text-transform: lowercase;
    text-decoration: none;
    text-align: center;
    display: inline;
    /*background-color: rgb(78, 78,78);
    height: 40px;
    display: inline-block;*/
}
.main_heading {
    background-color: yellow;
    text-transform: uppercase;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}