.footer{

}
.verse {
    background-color: lawngreen;
    text-align: center;
}
.aboutsong {
    background-color: lightgreen;
    display: flex;
    text-align: center;
    grid-column: 1;
}
/*class bottomtwo is the grid and also parent div for class aboutsong & verse divs*/
.bottomtwo-grid-container{
    display: grid
    grid-template-columns: 70px 30px;
    width: 100%
}

.text{
    background-color: maroon;
    text-align: center;
}
.image {
    display: flex;
    border-radius: 4px;
    padding: 2px;
    width: 150px;
    /*max-width: 500px;
    padding: 10px 30px 35px 10px;
    width: 300px;
    height: 400px;
    box-sizing: border-box;*/
}
/*class twocolum is the grid and also parent div for class image & text divs*/
.twocolum-grid-container{
    display: grid;
    width: 100%;
    grid-template-columns: 70px 30px;
    background-image: url("images/talking_heads-speaking_in_tongues.png");
    background-attachment: fixed;  
    background-color: black;
    opacity: 0.6;
}
nav ul{
    white-space: nowrap;
    max-width: 900px;
}

nav li{
    width: 15%;
    display: inline-block;
    text-align: center;
    justify-content: center;
}

nav li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
}

.menu{
    background-color: rgb(78, 78,78);
    height: 50px;
    text-align: center;
    
}
.header {
    background-color: yellow;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    box-sizing: border-box;
}